*{
	margin:0;
	padding:0;
	font-family: Century Gothic

}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../background.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

ul{
	float:right;
	list-style-type: none;/**没有列表前面的点**/
	margin-top: 25px;
}

ul li{
display: inline-block; /**从列变成一行**/
}

ul li a{
	text-decoration: none; /**下面的横线消失**/
	color:white;
	padding: 7px 25px;
	border: 1px solid transparent;
	transition: 0.6s ease;/**缓慢的hover效果**/
}

ul li a:hover{/**鼠标进入出现动画效果**/
	background-color: white;
	color:black;

}

ul li.home a{
	background-color: white;
	color:black;
}

ul li.home a:hover{
	color:blue;
}

.logo img{
	float:left;
	width:170px;
	padding-top: 7px;
}

.main{/**缩进**/
	max-width: 1200px;
	margin:auto;
}

.title{
	top:45%;
	left:45%;
	position: absolute;
	transform: (-50%,-50%);
}

.title h1{
	color:white;
	font-size: 55px;
	font-family: Verdana;
}

.pic {
    top:20%;
	left:10%;
	position: absolute;
}


.grid{
	top:37%;
	left:58%;
	position: absolute;
}


.grid input{
	width: 300px;
	height: 40px;
	margin-top: 12px;
	background-color:rgba(0,0,0,0.5);
	color: white;
	font-size: 20px;
	font-family: cursive;
	border-radius: 10px;
}



.loginB{
	font-family: cursive;
	font-weight: bold;
	font-size: 25px;
}

.login{
    width:100px;
    height:45px;
    margin:auto;
    margin-top: 40px;
    background-color: gray;
    border-width: 3px;
    border-radius: 10px;
    display:block;
}